body {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slider-wrapper {
  overflow: hidden;
}

.slider {
  display: flex;
}

.slider:hover {
  will-change: transform;
}

.slider li {
  /* desabilita o shrink que força a redução do tamanho dos itens para que caibam dentro do container */
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slider li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control='slider'] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control='slider'] li a {
  display: block;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, .7);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

[data-control='slider'] li.active a, [data-control='slider'] li a:hover {
  width: 30px;
  border-radius: 10px;
}