body {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slider-wrapper {
  overflow: hidden;
}

.slider {
  display: flex;
}

.slider li {
  /* desabilita o shrink que força a redução do tamanho dos itens para que caibam dentro do container */
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
}